@tailwind base;
@tailwind components;
@tailwind utilities;

.all_items::-webkit-scrollbar {
    width: 5px;
}

.all_items::-webkit-scrollbar-track {
    background: #cbd5e1;
}

.all_items::-webkit-scrollbar-thumb {
    background-color: #475569;
}


.added_items::-webkit-scrollbar {
    width: 5px;
}

.added_items::-webkit-scrollbar-track {
    background: #475569;
}

.added_items::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 100vh;
}

.time-line::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.time-line::-webkit-scrollbar-track {
    background: #cbd5e1;
}

.time-line::-webkit-scrollbar-thumb {
    background-color: #334155;
}